@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.ttf') format("truetype"),
  url('../fonts/Karla-Bold.ttf') format("truetype");
}

:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 66%, 54%);
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  --info: hsl(220, 50%, 50%);
  --error: hsl(0, 70%, 60%);
}

* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--green-200);
  min-height: 100dvh;
  width: 100%;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 38rem;
}

#contact-names {
  display: flex;
}

#contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  color: var(--grey-900);

  .input-field {
    width: 100%;
  }

  label, legend {
    display: block;
    color: var(--grey-900);
    width: 100%;
    margin-block-end: 0.5rem;

    span {
      color: var(--red);
    }
  }

  .input-description {
    font-size: 0.9rem;
    color: var(--info);
    padding-block-start: 0.5rem;
  }

  .input-errors {
    font-size: 0.9rem;
    color: var(--error);
    padding: 0 0 0.5rem 0;
  }

  input, textarea {
    color: var(--grey-900);
    padding: 1rem;
    border: solid 0.1rem var(--grey-500);
    border-radius: 0.5rem;
    width: 100%;
  }

  input:hover {
    cursor: pointer;
  }

  .input-error {
    border-color: var(--error);
  }

  input:focus, textarea:focus {
    border-color: var(--green-600);
    outline: var(--green-600);
  }

  fieldset {
    display: flex;
    border: none;

    label {
      display: flex;
      border: 1px solid var(--grey-500);
      color: var(--grey-900);
      padding: 1rem;
      margin: 0;
      border-radius: 0.5rem;
      cursor: pointer;

      input {
        width: initial;
        margin-right: 0.5rem;
        accent-color: var(--green-600);
      }

      span {
        color: var(--grey-900);
      }
    }

    label:hover {
      background-color: var(--green-200);
      border-color: var(--green-600);
    }
  }

  fieldset, .input-field {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  input[type="checkbox"] {
    width: initial;
    margin-right: 0.5rem;
    accent-color: var(--green-600);
  }

  [type="submit"] {
    background-color: var(--green-600);
    color: var(--white);
    margin-block-start: 1rem;
    cursor: pointer;
  }

  [type="submit"]:hover {
    background-color: var(--grey-900);
  }

  [for="consent"] {
    cursor: pointer;
  }
}

footer {
  font-size: 0.8rem;
  margin: 0 auto;
}

.toast, .toast-description {
  background-color: var(--grey-900) !important;
  color: var(--white) !important;
}

.toast-title {
  font-weight: bolder !important;
}

/* Mobile */
@media (width < 42rem) {
  #contact-names {
    flex-direction: column;
  }

  #contact-form fieldset {
    flex-direction: column;

    label {
      margin-block-end: 0.75rem;
    }
  }
}

/* Desktop */
@media (min-width: 42rem) {
  #contact-names {
    flex-direction: row;
    gap: 1rem;
  }

  fieldset {
    flex-direction: row;
    gap: 1rem;
  }
}
